<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <connectionStrings>
    <add name="Trigo.My.MySettings.TGConn" connectionString="Data Source=SERVER2008\SERVER12;Initial Catalog=TRIGO;Persist Security Info=True;User ID=sa;Password=Usuario01"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>